<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TwittBuzz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
</head>
<body>

  <div class="main-flex-container">
    <div class="left-flex-container flex-item">
      <div class="nav-links">
        <ul>
          <li class="nav-items logo"><a href="http://localhost:5001/"><i class="fab">TwittBuzz</i></a></li>
          <li class="nav-items current-page"><a href="#"><i class="fas fa-home"></i> Home</a></li>
          <li class="nav-items"><a href="#"><i class="far fa-bell"></i> Notifications</a></li>
          <!-- <li class="nav-items"><a href="#"><i class="far fa-envelope"></i> Messages</a></li> -->
          <li class="nav-items"><a href="#"><i class="far fa-user"></i> Profile</a></li>
        </ul>
      </div>
      <div class="tweet"><a href="#">Post</a></div>
      <div class="profile-box">
        <!-- <img src="./img/profile.jpg" alt="profile"> -->
        <div class="profile-link">
          <p class="full-name"> {{ user.first_name }}  {{ user.last_name }} </p>
          <p class="user-name">@{{ user.username }} </p>
          <p class="full-name"><a href="/" class="logout">Logout</a></p>
        </div>
        <div class="options-icon"><i class="fas fa-caret-down"></i></div>
      </div>
    </div>

    <div class="center-flex-container flex-item">
      <div class="home">
        <h1>Home</h1>
        <i class="fas fa-magic"></i>
      </div>

      
      <!-- User Content -->
        <div class="tweets" id="{{ post.id }}">
          <div class="user-pics"></div>
          <div class="user-content-box">
            <div class="user-names">
              <hi class="full-name"> {{ owner.first_name }} {{ owner.last_name }} </hi>
              <p class="user-name">@{{ owner.username }} </p>
              <p class="time">  {{ post.publication_date }} </p>
            </div>
            
            <div class="user-content">
              <p> {{ post.body }} </p>
            </div>

            <div class="content-icons">
              <i class="far fa-comment blue"> {{ post.length }} </i>
              <!-- <i class="fas fa-retweet green"> 865</i> -->
              <!-- <i class="far fa-heart red">1.6k</i> -->
              <i class="fas fa-chevron-up blue"></i>
            </div>

            <div class="post-tweet">
                <form action="">
                  <div class="form-group-1">
                    <input type="text" id="feedBackInput" placeholder="What's your feedback ?">
                  </div>
                  <div class="form-group-2">
                    <div class="post-icons">
                    </div>
                    <button class="btn btn-default" type="submit">Comment</button>
                  </div>
                </form>
        
              </div>
              <h3><strong style="margin-left: 3px;">Comments</strong></h3>
              {% for comment in post.comments %}
              {% if comment %}
            <div class="user-comment" id="{{ comment.id }}">
                <div class="user-content-box">
                    <div class="user-names">
                          <!-- <hi class="full-name">Olivia Brent</hi> -->
                          <!-- <p class="user-name">@iamolivia</p> -->
                          <!-- <p class="time"> . 58mins</p> -->
                    </div>
                    <div class="user-content">
                        <p> {{ comment.message }} </p>
                    </div>
                </div>
  
             </div>
             {% endif %}
             {% endfor %}

    </div>


    </div>

    
  </div>
  <!-- <script src=" {{ url_for('static', filename='js/home.js') }} "></script> -->
  <script src=" {{ url_for('static', filename='js/post.js') }} "></script>
</body>
</html>