<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TwittBuzz - TwittBuzz helps you connect and share with the people in your life.</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/awesome-bootstrap-checkbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet">
  </head>
  <body>
  <!-- <span class="header-ribbon"/> -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-centered">
            <div class="login-panel">
                <h4 class="login-panel-title">TwittBuzz</h4>
                <p class="login-panel-tagline">TwittBuzz helps you connect and share with the people in your life.</p>
                <div class="login-panel-section">
                    <!-- <form action=""> -->
                    <div class="form-group">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-user fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control fname" type="text" placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-user fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control lname" type="text" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-user fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control uname" type="text" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control email" type="text" placeholder="Email address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control pnumber" type="text" placeholder="Phone Number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control password" type="password" placeholder="Password" required>
                        </div>
                    </div>
                    <p style="color: red;" class="warning"></p>
                    <!-- <div class="checkbox checkbox-circle checkbox-success checkbox-small">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1">Keep me logged in</label>
                        <a href="#" class="pull-right">Forget your password?</a>
                    </div> -->
                </div>
                <div class="login-panel-section">
                    <button type="submit" class="btn btn-default register"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Register</button><p> Already have an account </p><button class="btn btn-default sign-in">Sign in</button>
                </div>
            <!-- </form> -->
            </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}} "></script>
    <script src="{{ url_for('static', filename='js/register.js')}} "></script>
  </body>
</html>